$body-font-color: white;
$header-font-color: white;

@import './bower_components/foundation/scss/foundation';

/* Do not remove this comments bellow.
   It's the markers used by gulp-inject to inject
   all your sass files automatically */
// inject:scss
// endinject
//

body {
  background: #242424;
}
