doctype html
html<% if (angular) { %>(ng-app="<%= projectName %>")<% } %>
  head
    title your app
    base(href="/")
    //- vendor:css
    //- endinject
    //- head:css
    //- endinject
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    link(href="./index.css" rel="stylesheet" type="text/css")
    link(href="images/icon.png" rel="icon" type="image/png")
  body
    <% if (angular) { %>div(ui-view)<% } %>
    <% if (react) { %>#content<% } %>
    //- vendor:js
    //- endinject
    script(src="./main.js")
